% -*- mode: erlang -*-
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, false} %% use lager instead
        ]},

 {hongkongresort, [
                   {default_mysql_user, "root"},
                   {default_mysql_password, "root"},
                   {default_mysql_port, 3306},
                   {default_mysql_host, "127.0.0.1"},
                   {default_mysql_pool_size, 10},
                   {mysql_conf, [{hongkongresort, [
                                                   {db, "hongkongresort"}
                                                   %% 使用默认配置，如果有特殊db的话，可以单独配，会覆盖默认配置
                                                   %% {host, "127.0.0.1"},
                                                   %% {port, 3306},
                                                   %% {user, "user"},
                                                   %% {password, "password"},
                                                   %% {pool_size, 10}
                                                  ]}
                                ]}
                  ]
 }
].  


